<mat-toolbar color="primary">
  <span>T-Nation Nutrition</span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/attempt" routerLinkActive="mat-accent"
        >Attempt</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/food-list" routerLinkActive="mat-accent"
          >Food</a
        >
      </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/meal-plan" routerLinkActive="mat-accent"
        >Meal Plan</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <!-- RouterLinkActive makes the button a different color if you are actively on that page  -->
      <a mat-button routerLink="/user-info" routerLinkActive="mat-accent"
        >User Info</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/daily-feedback" routerLinkActive="mat-accent"
        >Daily Assessment</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
