<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="meal1">
      <th mat-header-cell *matHeaderCellDef>Meal 1</th>
      <td mat-cell *matCellDef="let food">
        {{ food.carb }}
      </td>
    </ng-container>


      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
<!--

  <form [formGroup]="mealsForm">
      <mat-form-field>
        <input type="text" matInput placeholder="Choose a carb" formControlName="carbsGroup" required [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let carb of carbs" [label]="carb.type">
              <mat-option *ngFor="let food of carbs.food" [value]="food">
                {{food}}
              </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->


    <mat-card>
        <form>
          <mat-form-field [formGroup]="mealOne">
            <input
              type="text"
              matInput
              placeholder="Choose a carb"
              formControlName="carbGroup"
              required
              [matAutocomplete]="autoGroup"
            />
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup
                *ngFor="let group of (carbGroupOptions | async)"
                [label]="group.type"
              >
                <mat-option
                  *ngFor="let foodNames of group.foodNames"
                  [value]="foodNames"
                >
                  {{ foodNames }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>

          <!-- Meal One: Protein -->

          <div>
            <mat-form-field [formGroup]="mealOne">
              <input
                type="text"
                matInput
                placeholder="Choose a protein"
                formControlName="proteinGroup"
                required
                [matAutocomplete]="autoProteinGroup"
              />
              <mat-autocomplete #autoProteinGroup="matAutocomplete">
                <mat-optgroup
                  *ngFor="let group of (proteinGroupOptions | async)"
                  [label]="group.proteinType"
                >
                  <mat-option
                    *ngFor="let proteinFoodNames of group.proteinFoodNames"
                    [value]="proteinFoodNames"
                  >
                    {{ proteinFoodNames }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!-- Meal One: Fruits -->

          <div>
            <mat-form-field [formGroup]="mealOne">
              <input
                type="text"
                matInput
                placeholder="Choose a fruit"
                formControlName="fruitGroup"
                required
                [matAutocomplete]="autoFrutiGroup"
              />
              <mat-autocomplete #autoFrutiGroup="matAutocomplete">
                <mat-optgroup
                  *ngFor="let group of (fruitGroupOptions | async)"
                  [label]="group.fruitType"
                >
                  <mat-option
                    *ngFor="let fruitFoodNames of group.fruitFoodNames"
                    [value]="fruitFoodNames"
                  >
                    {{ fruitFoodNames }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </form>
    </mat-card>



  <!-- <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="mealOne">
        <th mat-header-cell *matHeaderCellDef>Meal 1</th>
        <td mat-cell *matCellDef="let element">
          <form>
            <mat-form-field [formGroup]="mealOne">
              <input
                type="text"
                matInput
                placeholder="Choose a carb"
                formControlName="carbGroup"
                required
                [matAutocomplete]="autoGroup"
              />
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup
                  *ngFor="let group of (carbGroupOptions | async)"
                  [label]="group.type"
                >
                  <mat-option
                    *ngFor="let foodNames of group.foodNames"
                    [value]="foodNames"
                  >
                    {{ foodNames }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>


            <div>
              <mat-form-field [formGroup]="mealOne">
                <input
                  type="text"
                  matInput
                  placeholder="Choose a protein"
                  formControlName="proteinGroup"
                  required
                  [matAutocomplete]="autoProteinGroup"
                />
                <mat-autocomplete #autoProteinGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of (proteinGroupOptions | async)"
                    [label]="group.proteinType"
                  >
                    <mat-option
                      *ngFor="let proteinFoodNames of group.proteinFoodNames"
                      [value]="proteinFoodNames"
                    >
                      {{ proteinFoodNames }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </div>


            <div>
              <mat-form-field [formGroup]="mealOne">
                <input
                  type="text"
                  matInput
                  placeholder="Choose a fruit"
                  formControlName="fruitGroup"
                  required
                  [matAutocomplete]="autoFrutiGroup"
                />
                <mat-autocomplete #autoFrutiGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of (fruitGroupOptions | async)"
                    [label]="group.fruitType"
                  >
                    <mat-option
                      *ngFor="let fruitFoodNames of group.fruitFoodNames"
                      [value]="fruitFoodNames"
                    >
                      {{ fruitFoodNames }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </form>
        </td>
      </ng-container> -->
