<!-- <mat-card>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="mealOne">
          <th mat-header-cell *matHeaderCellDef>Meal 1</th>
          <td mat-cell *matCellDef="let meal">
  <form>
    <div>Meal 1</div>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Choose a carb"
        aria-label="Number"
        matInput
        required
        formControlName="carbGroup"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-optgroup
          *ngFor="let carbGroup of (carbGroupOptions | async)"
          [label]="carbGroup.type"
        >
          <mat-option *ngFor="let carb of carbList" [value]="carb.name">
            {{ carb.name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Choose a protein"
          aria-label="Number"
          matInput
          required
          formControlName="proteinGroup"
          [matAutocomplete]="proteinAuto"
        />
        <mat-autocomplete #proteinAuto="matAutocomplete">
          <mat-option
            *ngFor="let protein of proteinList"
            [value]="protein.name"
          >
            {{ protein.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Choose a fruit"
          aria-label="Number"
          matInput
          required
          [formControlName]="fruitGroup"
          [matAutocomplete]="fruitAuto"
        />
        <mat-autocomplete #fruitAuto="matAutocomplete">
          <mat-option *ngFor="let fruit of fruitList" [value]="fruit.name">
            {{ fruit.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Choose a fat"
          aria-label="Number"
          matInput
          required
          formControlName="fatGroup"
          [matAutocomplete]="fatAuto"
        />
        <mat-autocomplete #fatAuto="matAutocomplete">
          <mat-option *ngFor="let fat of fatList" [value]="fat.name">
            {{ fat.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-form-field [formGroup]="mealOne">
      <input
        type="text"
        placeholder="Choose a carb"
        aria-label="Number"
        matInput
        formControlName="carbGroup"
        required
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup
          *ngFor="let carbGroup of (carbGroupOptions | async)"
          [label]="carbGroup.type"
        >
          <mat-option *ngFor="let carb of carbGroup.name" [value]="name">
            {{ name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</td>
</ng-container>

<ng-container matColumnDef="exchanges">
    <th mat-header-cell *matHeaderCellDef>Number of Exchanges</th>
    <td mat-cell *matCellDef="let food">{{ food.exchanges }}</td>

  </ng-container>

  <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef>Carbs</th>
      <td mat-cell *matCellDef="let food">{{ food.carbs }}</td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>Protein</th>
      <td mat-cell *matCellDef="let food">{{ food.protein }}</td>
    </ng-container>

    <ng-container matColumnDef="fat">
      <th mat-header-cell *matHeaderCellDef>Fat</th>
      <td mat-cell *matCellDef="let food">{{ food.fat }}</td>
    </ng-container>

    <ng-container matColumnDef="kCals">
      <th mat-header-cell *matHeaderCellDef>Kcals</th>
      <td mat-cell *matCellDef="let food">{{ food.kCals }}</td>
    </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

</mat-card> -->


<mat-card>
<form>
  <div>Meal 1</div>
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Choose a carb"
      aria-label="Number"
      matInput
      required
      [formControl]="carbControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <!-- <mat-optgroup
        *ngFor="let carbGroup of (carbGroupOptions | async)"
        [label]="carbGroup.type"
      > -->
        <mat-option *ngFor="let carb of carbList" [value]="carb.name">
          {{ carb.name }}
        </mat-option>
      <!-- </mat-optgroup> -->
    </mat-autocomplete>
  </mat-form-field>

  <div>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Choose a protein"
        aria-label="Number"
        matInput
        required
        [formControl]="proteinControl"
        [matAutocomplete]="proteinAuto"
      />
      <mat-autocomplete #proteinAuto="matAutocomplete">
        <mat-option
          *ngFor="let protein of proteinList"
          [value]="protein.name"
        >
          {{ protein.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Choose a fruit"
        aria-label="Number"
        matInput
        required
        [formControl]="fruitControl"
        [matAutocomplete]="fruitAuto"
      />
      <mat-autocomplete #fruitAuto="matAutocomplete">
        <mat-option *ngFor="let fruit of fruitList" [value]="fruit.name">
          {{ fruit.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Choose a fat"
        aria-label="Number"
        matInput
        required
        [formControl]="fatControl"
        [matAutocomplete]="fatAuto"
      />
      <mat-autocomplete #fatAuto="matAutocomplete">
        <mat-option *ngFor="let fat of fatList" [value]="fat.name">
          {{ fat.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- <mat-form-field [formGroup]="mealOne">
    <input
      type="text"
      placeholder="Choose a carb"
      aria-label="Number"
      matInput
      formControlName="carbGroup"
      required
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup
        *ngFor="let carbGroup of (carbGroupOptions | async)"
        [label]="carbGroup.type"
      >
        <mat-option *ngFor="let carb of carbGroup.name" [value]="name">
          {{ name }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field> -->
</form>


</mat-card>


<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="meal1">
      <th mat-header-cell *matHeaderCellDef>Meal 1</th>
      <td mat-cell *matCellDef="let food">
        {{ food.carb }}
      </td>
    </ng-container>


      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
<!--

  <form [formGroup]="mealsForm">
      <mat-form-field>
        <input type="text" matInput placeholder="Choose a carb" formControlName="carbsGroup" required [matAutocomplete]="autoGroup">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let carb of carbs" [label]="carb.type">
              <mat-option *ngFor="let food of carbs.food" [value]="food">
                {{food}}
              </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->

<!-- <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="mealOne">
        <th mat-header-cell *matHeaderCellDef>Meal 1</th>
        <td mat-cell *matCellDef="let element">
          <form>
            <mat-form-field [formGroup]="mealOne">
              <input
                type="text"
                matInput
                placeholder="Choose a carb"
                formControlName="carbGroup"
                required
                [matAutocomplete]="autoGroup"
              />
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup
                  *ngFor="let group of (carbGroupOptions | async)"
                  [label]="group.type"
                >
                  <mat-option
                    *ngFor="let foodNames of group.foodNames"
                    [value]="foodNames"
                  >
                    {{ foodNames }}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
            </mat-form-field>


            <div>
              <mat-form-field [formGroup]="mealOne">
                <input
                  type="text"
                  matInput
                  placeholder="Choose a protein"
                  formControlName="proteinGroup"
                  required
                  [matAutocomplete]="autoProteinGroup"
                />
                <mat-autocomplete #autoProteinGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of (proteinGroupOptions | async)"
                    [label]="group.proteinType"
                  >
                    <mat-option
                      *ngFor="let proteinFoodNames of group.proteinFoodNames"
                      [value]="proteinFoodNames"
                    >
                      {{ proteinFoodNames }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </div>


            <div>
              <mat-form-field [formGroup]="mealOne">
                <input
                  type="text"
                  matInput
                  placeholder="Choose a fruit"
                  formControlName="fruitGroup"
                  required
                  [matAutocomplete]="autoFrutiGroup"
                />
                <mat-autocomplete #autoFrutiGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of (fruitGroupOptions | async)"
                    [label]="group.fruitType"
                  >
                    <mat-option
                      *ngFor="let fruitFoodNames of group.fruitFoodNames"
                      [value]="fruitFoodNames"
                    >
                      {{ fruitFoodNames }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </form>
        </td>
      </ng-container> -->
