<h1>THIS IS LIST OF FOODS!</h1>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-form-field *ngIf="!isLoading">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <a
    *ngIf="!isLoading"
    class="add-food-button"
    align="end"
    mat-raised-button
    color="accent"
    routerLink="/food-create"
    routerLinkActive="mat-accent"
  >
    ADD A NEW FOOD
  </a>

  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of displayedColumns"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let foods">{{ foods[column] }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let foods"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="foods-detail"
          [@detailExpand]="foods == expandedFood ? 'expanded' : 'collapsed'"
        >
          <div class="foods-diagram">
            <!-- <div class="foods-category"> {{foods.category}} </div>
            <div class="foods-type"> {{foods.type}} </div>
            <div class="foods-name"> {{foods.name}} </div> -->
            <!-- <div class="foods-carbs"> Carbs: {{foods.carbs}}g </div>
            <div class="foods-protein"> Protein: {{foods.protein}}g </div>
            <div class="foods-fat"> Fat: {{foods.fat}}g </div>
            <div class="foods-kCals"> KCals: {{foods.kCals}} </div>
            <div class="foods-serving"> Serving: {{foods.serving}} {{foods.measurement}}</div>
            <div class="foods-measurement"> {{foods.measurement}} </div>
            <div class="foods-exchanges"> Exchanges: {{foods.exchanges}} </div> -->

            <div class="food-nutrition">
              <span class="spacer">Carbs: {{ foods.carbs }}g </span>
              <span class="spacer">Protein: {{ foods.protein }}g</span>
              <span class="spacer">Fat: {{ foods.fat }}g</span>
              <span class="spacer">KCals: {{ foods.kCals }}</span>
              <span class="spacer">
                Serving: {{ foods.serving }} {{ foods.measurement }}</span>
              <span class="spacer">Exchanges: {{ foods.exchanges }}</span>
            </div>

            <div class="edit-delete-buttons">
              <a
                mat-raised-button
                color="accent"
                [routerLink]="['/food-edit', foods.id]"
                routerLinkActive="mat-accent"
              >
                EDIT
              </a>
              <!-- Add message saying food deleted -->
              <button
                class="delete-button"
                mat-raised-button
                align="end"
                color="warn"
                (click)="onDelete(foods.id)"
              >
                DELETE
              </button>
            </div>
          </div>
          <!-- <div class="example-element-description">
              {{foods.measurement}}
              <span class="example-element-description-attribution"> -- Wikipedia </span>
            </div> -->
        </div>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let foods">{{ foods.category }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let foods">{{ foods.type }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let foods">{{ foods.name }}</td>
    </ng-container>

    <ng-container matColumnDef="carbs">
      <th mat-header-cell *matHeaderCellDef>Carbs</th>
      <td mat-cell *matCellDef="let foods">{{ foods.carbs }}</td>
    </ng-container>

    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>Protein</th>
      <td mat-cell *matCellDef="let foods">{{ foods.protein }}</td>
    </ng-container>

    <ng-container matColumnDef="fat">
      <th mat-header-cell *matHeaderCellDef>Fat</th>
      <td mat-cell *matCellDef="let foods">{{ foods.fat }}</td>
    </ng-container>

    <ng-container matColumnDef="kCals">
      <th mat-header-cell *matHeaderCellDef>Kcals</th>
      <td mat-cell *matCellDef="let foods">{{ foods.kCals }}</td>
    </ng-container>

    <ng-container matColumnDef="serving">
      <th mat-header-cell *matHeaderCellDef>Serving</th>
      <td mat-cell *matCellDef="let foods">{{ foods.serving }}</td>
    </ng-container>

    <ng-container matColumnDef="measurement">
      <th mat-header-cell *matHeaderCellDef>Measurement</th>
      <td mat-cell *matCellDef="let foods">{{ foods.measurement }}</td>
    </ng-container>

    <ng-container matColumnDef="exchanges">
      <th mat-header-cell *matHeaderCellDef>Exchanges</th>
      <td mat-cell *matCellDef="let foods">{{ foods.exchanges }}</td>
    </ng-container> -->

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
   -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let foods; columns: displayedColumns"
      class="foods-row"
      [class.food-expanded-row]="expandedFood === foods"
      (click)="expandedFood = expandedFood === foods ? null : foods"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="foods-detail-row"
    ></tr>
  </table>

  <!-- <a
    *ngIf="!isLoading"
    mat-raised-button
    color="accent"
    routerLink="/food-create"
    routerLinkActive="mat-accent"
  >
    ADD A FOOD
  </a> -->
</mat-card>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
