<h2>THIS IS BODY FAT!</h2>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
<mat-card>
  <a
  *ngIf="!isLoading"
  class="add-fat-date-button"
  align="end"
  mat-raised-button
  color="accent"
  routerLink="/body-fat-create"
  routerLinkActive="mat-accent"
>
  ADD A NEW BODY FAT
</a>
</mat-card>
